<h2>Create New!</h2>
<form action="/celebrities" method="POST">
  <input type="text" name="name" placeholder="name">
  <select name="occupation" placeholder="occupation">
    <option value="actor">actor</option>
    <option value="singer">singer</option>
    <option value="comedian">comedian</option>
    <option value="unknown">unknown</option>
  </select>
  <input type="text" name="catchPhrase" placeholder="catchPhrase">
  <button type="submit">Create!</button>
</form>